* {
  box-sizing: border-box;
  
}
.cta-button {
  display: inline-block;
  padding: 16px 24px;
  background-color: #333; /* Adjust to your preferred color */
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.cta-button:hover {
  background-color: #555; /* Adjust to your preferred hover color */
}



/* Navbar styles */
.navbar {
  background-color: #040202;
  overflow: hidden;
  color: white;
  padding: 10px 0;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Container Styling */
#experience {
  background-color: #f8f9fa; /* Light gray background */
  padding: 50px 0;            /* Padding to give some space around content */
  text-align: center;         /* Center content */
}

/* H1 Styling within the Experience Section */
#experience h1 {
  font-size: 2.5rem;              /* Make the text larger */
  color: #2c3e50;                /* Deep blue color */
  margin-bottom: 20px;           /* Spacing below the title */
  padding-bottom: 15px;          /* Padding for the underline */
  position: relative;            /* Required for pseudo-element positioning */
  letter-spacing: 1.5px;         /* Slight spacing between characters */
}

#experience h1::after {
  content: '';                   /* Necessary for pseudo-elements */
  position: absolute;            /* Positioning relative to the h1 element */
  bottom: 0;                     /* Align to the bottom */
  left: 50%;                     /* Start from the center */
  transform: translateX(-50%);   /* Centering the underline */
  width: 120px;                  /* Length of the underline */
  height: 3px;                   /* Thickness of the underline */
  background-color: #3498db;     /* Color of the underline */
}


/* Experience section styles */


.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.experience-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);          /* Start at normal size */
  transition: transform 0.3s;  /* Smooth transition */
}

.experience-item:hover {
    transform: translateY(-5px) scale(0.95) rotateX(5deg);
  }
  

.experience-item h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 24px;
  transition: transform 0.3s ease, font-size 0.3s ease; /* Smooth transition for the transform and font-size properties */
}

.experience-item p {
  margin: 0;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.experience-item ul {
  margin-top: 15px;
  padding-left: 20px;
  list-style: disc;
  color: #555;
  text-align: left;
}





.experience-container {
  perspective: 1000px; /* This will give a 3D perspective effect */
  overflow:auto;    /* Prevents children from overflowing */
  
}
h2 {
  text-align: center;      /* This will ensure the text inside h2 is centered */

    padding: 10px 20px;  /* Add some space around the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* Adjust shadow offset and blur as you like */
}

.experience-item h2 {
  padding-right: 10;
}

.experience-item:hover h3 {
  transform: translateY(-10px); /* Move the title up by 10 pixels */
  font-size: 1.2em; /* Increase the font size */
}

/* Style for the list block */
ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove padding */
  transition: all 0.3s ease; /* Smooth transition for hover effect and text size */
  font-size: 16px; /* Default font size */
}

ul li {
  position: relative;
  padding-left: 30px; /* Space for custom bullet */
}



/* Hover effect */
ul:hover {
  background-color: #f5f5f5; /* Background color change on hover */
  font-size: 20px; /* Increase font size when hovered */
}

#particles-js {
  background-color: #b62727; /* or any contrasting color */
}


.experience-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff; /* adjust as necessary for your design */
  padding: 20px; /* adjust as necessary for your design */
}



/* Hover Animation for Job Experience */
.experience-item {
  transition: transform 0.3s;
  cursor:all-scroll;
}

.experience-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Highlight Job Titles with Colors */
.experience-item h3 {
  color: rgb(33, 8, 8); /* Use one of the colors from the hero section */
}

/* Style the company names for fun emphasis */
.experience-item strong {
  font-weight: bold;
  font-style: italic;
}


   
      
    


/*skills*/

.skills-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.skill {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

.progress {
  background: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #3498db; /* Change to desired color */
  width: 0;
  line-height: 20px;
  text-align: right;
  padding-right: 10px;
  color: white;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}








/* Responsive styling for mobile */
@media (max-width: 768px) {
  .work-card {
      margin: 10px auto;
  }
}

/* Desktop styling */
@media (min-width: 769px) {
  .swiper-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .swiper-slide {
      /* To override Swiper.js's transformations and other styles on desktop */
      width: auto !important;
      height: auto !important;
      transform: none !important;
      opacity: 1 !important;
  }

  /* Hide Swiper's controls on desktop */
  .swiper-pagination, .swiper-button-next, .swiper-button-prev {
      display: none;
  }
}



.work-item {
  width: 300px;
  margin: 15px;
  position:relative;
  display: inline-block;
  overflow: hidden; /* This ensures the image and overlay are contained */
  border-radius: 15px; /* More rounded corners */
  transition: all 0.5s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* More pronounced shadow */
  
  align-items: center;
}

.work-item:hover {
  transform: translateY(-10px); /* Move up a little on hover */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2); /* Increase shadow on hover */
}

.work-item img {
  width: 100%;
  max-width: 500px;
  transition: transform 0.5s; /* Smooth zoom transition */
}

.work-item:hover img {
  transform: scale(1.1); /* Zoom in the image on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,122,24,0.3), rgba(49,145,151,0.3));
  mix-blend-mode: multiply; /* This creates a blend with the image */
  color: rgb(23, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.work-item:hover .overlay {
  opacity: 10;
}

.work-item:before, .experience-section:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  z-index: -1;
  opacity: 0.7;
}



@keyframes gradientBG {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.gradient-animation-section {
  background: linear-gradient(45deg, rgb(58, 187, 210), rgb(179, 56, 99), rgb(239, 214, 74), rgba(198, 74, 109, 0));
  background-size: 400% 400%;
  animation: gradientBG 6s ease infinite;
  transition: brightness 0.3s, filter 0.3s; /* smoothens the brightness boost and blur effect */
}

/* Brightness boost on click */
.gradient-animation-section:active {
  filter: brightness(1.5); /* This increases the brightness by 150% */
}


/* Pause gradient animation on hover */
.gradient-animation-section:hover {
  animation-play-state: paused;
}

/* Using media query to adjust animation speed on smaller screens */
@media (max-width: 768px) {
  .gradient-animation-section {
    animation-duration: 4s;
  }
}



                                          /* About section styles */
                                          #about {
                                            padding: 50px 0;
                                            background-color: #f4f4f4;
                                          }
                                          
                                          .about-content {
                                            display: flex;
                                            align-items: center;
                                            max-width: 1000px;
                                            margin: 0 auto;
                                            gap: 20px;
                                          }
                                          
                                          .about-image {
                                            width: 150px;
                                            height: 150px;
                                            border-radius: 50%;
                                            object-fit: cover;
                                            border: 3px solid #333;
                                          }
                                          
                                          .about-text {
                                            flex-grow: 1;
                                          }
                                          




                                              /*Contact
/* Contact Form Styles */
.creative-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #333;
  font-size: 16px;
  transition: 0.3s;
}

.input-container label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  color: #aaa;
  transition: 0.3s;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.input-container input:focus + label,
.input-container textarea:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #333;
}

.textarea-container {
  margin-bottom: 40px;
}

.submit-button {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.submit-button:hover {
  background-color: #555;
}



#particles-section {
  position: relative;
  height: 850px;  /* Adjust this value according to your needs */
}

.particles-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff;  /* Text color */
}

#particles-js {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
